/**
 * CSS fyrir sýnilausn á verkefni 2.
 * Heldur einfalt en notar grunn CSS og flexbox.
 * _Ekki_ skalanlegt.
 */

/**
 * Fjarlægja gefið margin og padding af öllu.
 */
* {
  margin: 0;
  padding: 0;
}

/**
 * Setja border-box á öll element
 * => reiknum stærð box sem width + margin
 * padding + border ekki inní því.
 */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/**
 * Hjálpar class sem felur sjónrænt það sem
 * skjálesarar lesa.
 */
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/** Letur **/

/* TODO setja inn letur */
@font-face{
  font-family: 'Atkinson';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Atkinson_Hyperlegible_Mono/AtkinsonHyperlegibleMono-VariableFont_wght.ttf);
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Inter/Inter-VariableFont_opsz\,wght.ttf);
}
@font-face {
  font-family: 'Gelasio';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Gelasio/Gelasio-VariableFont_wght.ttf);
}
/**
 * Lætur myndir aldrei taka meira pláss en
 * foreldri skilgreinir.
 */
img {
  max-width: 100%;
}

/**
 * Litur á hlekkjum erfist frá foreldri
 */
a {
  color: inherit;
}

/**
 * Leturstærð erfist frá foreldri í form elements.
 */
input,
button,
select {
  font-size: inherit;
}

body {
  /* TODO skilgreiningar á letri, grunnstærð, bakgrunn og lit */
  background: #ffeedd;
  font-family: 'Inter';
}
button {
  background: #996644;
  color: #ffeedd;
}

/** Haus **/
header {
/* TODO skilgreiningar fyrir haus/header */

}
header h1 {
  font-size: 3.25rem;
  text-align: center;
}
/** Valmynd **/
nav{
/* TODO skilgreining fyrir nav  */
  position: fixed;
  display: flex;
}
/** Meginmál **/

/* TODO almennar skilgreiningar fyrir meginmál */

/** Fótur **/
footer{
/* TODO skilgreiningar fyrir footer */
  accent-color: #996644;
}
/** Flekar / cards á forsíðu **/
.cards h2 {
  font-size: 2rem;
  font-weight: 700;
}
.cards img {
  height: 300px;
}
/* TODO */

/** Textasíða **/

/* TODO */

/** Töflur **/

/* TODO  */

/** Form **/

/* TODO */
